body {
  background-color: #EAF6F6;
}

h1 {
  color: #66BFBF;
}

h2 {
  color: #66BFBF;
}

h3 {
  color: #66BFBF;
}

hr {
  width: 10%;
  border-style: none;
  border-top-style: dotted;
  border-color: greyy;
  border-width: 5px;
}
